.viedox {
  width: 20%;
  height: ;
  margin:-2px 0 0 615px;
  padding: 0 0 0 0;
  
}


.infooo {
  
     width: 809px;
    height: 500;
  
}


.box1 {
         height: 466px;
    width: 857px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 29px;
    margin: 63px 0 0px 15%;
}

.sub-box1{
  
  height: 449px;
    width: 815px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 59px;
    margin: 1% 0 0px 1%;
}

.infooo{
  
      width: 729px;
    height: 421px;
    margin: -5px 122px 0 0;
}

.box0 {
  
      margin: 3% 0 -45px 27%;
}

#ew{
margin: 0 0 0 0;
font-size: 24;
}